<div class="row">
    <div class="enclosure">
        <h3>Admin</h3>

        <p class="well no-decoration">
            "Allow" will remove that attendee from that table.
            "Deny" will leave them on that table.
            <br/>
            Both remove the request from this page
        </p>

        <form>
            <ul class="well no-decoration">
            {{#each request in controller}}
                {{log request}}
                <li>
                    <label>
                        {{view TableSelectWeb.RemovalRequestCheckboxView valueBinding="request"}}
                        <span style="margin-top:-1px;">
                            requesting that "{{request.attendee.attendee_name}}" be removed from "{{request.ball_table.ball_table_name}}"
                        </span>
                    </label>
                </li>
            {{/each}}
            </ul>

            <div class="request_actions">
                <button class="btn btn-success" {{action allow target="view"}}>Allow</button>
                <button class="btn btn-danger" {{action deny target="view"}}>Deny</button>
            </div>
        </form>
    </div>
</div>


